/* seleciona todos os elementos  */
*{
    margin: 0px;
    padding: 0px;
}

/* seletor por tag */
body{
    background-color:rgb(241, 189, 197);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top:  20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;

}
/* seletor por id */
#topo{
    padding: 10px;
    margin: 15px 0px;
    border: 10px solid rgb(240, 142, 158);
    background-color: rgb(101, 206, 101);
}

/* seletor por class */
.texto-top{
    font-style: italic;
    text-decoration: underline;
    font-size: 25px;

}

/* estiliza os elementos com a class */
.bloco{
    background-color:rgb(227, 236, 227);
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid rgb(4, 248, 4);
    border-radius: 10px;
}

.destaque{
    background-color: gold;
}

.texto-destaque{
    color:darkred;
    font-weight: bold;
}
/* #ede9fe */
#caixa-unica{
     background-color: #ede9fe;
     padding: 10px;
     border: 2px solid purple;
}

/* selecion todos os 'p' que estao dentro de uma div */
div p{
    color: lightblue
}

/* seleciona todos o 'p' que sao filhos diretos da classe especifica */
.pai-direto > p {
    color: rgb(233, 146, 194);
}
 
/* seleciona todo o 'p' que vem logo apos um h3, desde que seja irmao  */
h3 + p {
    color: red;
}

/* seleciona todos os 'p' que vem apos o h4, desde que sejam irmaos */
h4 ~ p {
    background-color: violet;
    color: yellow;
}

/* seleciona por atributos especificos  */

/* seleciona todos os inputs, que tenham o tipo texto */
input[type="text"]{
    border: 2px solid orange;
    padding: 8px;
    margin-right: 10px;
}

/* sleciona todos os links que tenham esse valor no href */
a[href*="microsoft"]{
    color: crimson;
    font-weight: bolder;
}
/* mesmo estilo pra duas tags ou mais  */

h5, h6 {
    color: purple;
    margin: 5px 0px;
    font-weight: bolder;
}

/* seleciona o elemento que tem ad duas classes ao mesmo tempo */
.botao.ativo{
    color: brown;
    font-size: 15px;
    padding: 50px;
}
          
/* seleciona o 'p' desde que tenha a class aviso */
p.aviso{
    color:orangered;
}

/* seleciona apenas a div que tenha o id painel */
div#painel{
    background-color: darkmagenta;
    padding: 10px;
}

/* selecionando filho dentro de filho */
#menu ul li a{
    color:violet;
}

