body {
    background-color: palevioletred;
}

/* Estilizacao via tag */
ul{
    background-color:lightpink;
    list-style:none;
}
li{
    /* cor de fundo  */
    background-color: black;
    /* cor do texto */
    color:rgb(219, 110, 168);
    /* lagura do elemento */
    width: 200px;
    /* altura do elemento  */
    height: 50px;
    /* tamanho da fonte */
    font-size: 30px;
    /* espaço do elemento pra fora */
    margin-left: auto ;
    margin-right: auto ;
}
h2{
    font-size: 30px;
    background-color: rgb(226, 43, 104);
    color:brown;
    /* estilo do texto */
    font-style: italic;
    /* familia da fonte */
    font-family: 'Segoe UI', Tahoma, sans-serif;
}

